.notes {
  width: 80%;
}
.notes li {
  margin-bottom: 20px;
  list-style: none;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 15px;
}
button {
  width: 100%;
  border: none;
  background: none;
  padding: 20px;
  cursor: pointer;
}
