/* You can add global styles to this file, and also import other style files */
/* Add application styles & imports to this file! */
html,
body {
  padding: 0;
  margin: 0;
  background-color: #edf1f5;
  font-family: Arial, Helvetica, sans-serif;
}
.container {
  text-align: center;
  margin: 0 auto;
  padding: 15px;
}
.note-title {
  display: block;
  text-align: left;
  font-weight: bold;
  margin-bottom: 5px;
  text-transform: uppercase;
  font-size: 11pt;
  color: #000;
}
.note-text {
  display: block;
  text-align: left;
  color: rgb(128, 128, 128);
  font-size: 10pt;
}
